html,body {
  min-width: 290px;
  background-image: linear-gradient(to right, rgba(26, 91, 231, 0.938), rgb(235, 241, 235));
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

nav {
  background-image: linear-gradient(to right, rgba(22, 209, 237, 0.756), rgba(243, 234, 232, 0.943));
  border-bottom: 2px solid rgb(4, 0, 255);
  height: 50vh;
  min-width: 300px;
}

h2 {
  text-align: center;
}
nav a {
  border-top: 1px solid rgb(25, 0, 255);
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

nav header {
  padding: 15px;
}

main {
  background-color: linear-gradient(to right, rgba(79, 10, 152, 0.42), rgb(184, 44, 186));
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

section {
  padding: 20px;
  line-height: 1.5;
}
header {
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  padding: 5px;
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

h1 {
  font-size: 4.2rem;    
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(18, 127, 244),
      0 0 80px rgb(14, 61, 216),
      0 0 90px rgb(19, 50, 205),
      0 0 100px rgb(8, 18, 154),
      0 0 150px rgb(37, 5, 120);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
  
h2 {
 font-size: 1.8rem;
}
.container {
  margin-top: 20vh;
}

body {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #1b3ac4;
}  

h1 {
  text-align: center;
  font-size: 2.1rem;
  line-height: 1.4;
  letter-spacing: 0.8rem;
  padding: 5px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 153, 255),
    0 0 82px rgb(0, 200, 255),
    0 0 92px rgb(0, 179, 255),
    0 0 102px rgb(0, 149, 255),
    0 0 151px rgb(0, 98, 255);
    animation: flicker 1.5s infinite;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
}
pre{
  padding-top: 10px;
  background-color: rgba(88, 10, 130, 0.861);
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  #navbar {
  background-color: white;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 275px;
  border: none;
  z-index: 1;
  border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
.scroll-up-btn{
  right: 15px;
  bottom: 15px;
  height: 38px;
  width: 35px;
  font-size: 23px;
  line-height: 38px;
}
@media (max-width:600px) {
  body {
    flex-direction: column;
  }
  nav {
    border-right: none;
    border-bottom: 2px solid rgb(15, 0, 128);
    height: 200px;
    overflow-y: scroll;
    width: 100%;
  }

  main {
    height: auto;
    overflow-y: none;
    width: 100%;
  }
}

.slider-box {
  width: 70%;
  height: 60vh;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

#slider {
  width: 100%;
  display: inline-flex;
  position: relative;
  text-align: center;
}

#slider img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}


.text-block {
  position: absolute;
  bottom: -50px;
  left: 320px;
  background-color:  linear-gradient(to right, rgba(223, 12, 12, 0.42), rgb(27, 29, 27));
  color: white;
  padding-top: -100px;
  padding-bottom: -100px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block1 {
  position: absolute;
  bottom: -50px;
  left: 320px;
  background-color:  linear-gradient(to right, rgba(223, 12, 12, 0.42), rgb(55, 58, 55));
  color: white;
  padding-top: -100px;
  padding-bottom: -100px;
  padding-left: 20px;
  padding-right: 20px;
}
a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  background-color: rgb(11, 7, 83);
  text-decoration: none;
  cursor: pointer;
  text-align: center; 
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  background-color: rgb(0, 81, 255);
  border: 2px solid rgb(9, 204, 211);
}

button:hover {
  background-color: rgb(20, 6, 96);
}